
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile {
        flex-direction: column;
    }
}
.footer__1{
    display: flex;
    flex-direction: row;
}
.footer__1__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include mobile {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        align-items: center;
        padding-left: 90px;
    }
}
.footer__1__ul--li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    @include mobile {
        padding-bottom: 5px;
        padding-top: 5px;
    }

}
.footer__1__ul--li:hover{
    color: royalblue;
    font-weight: bold;
}
.footer__2 {
    display: flex;
    flex-direction: row;
    @include mobile {
        justify-content: space-between;
    }
}
.footer__2__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include mobile {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.footer__2__ul--li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    
    @include mobile {
        padding-bottom: 5px;
        padding-top: 5px;
    }

}
.footer__2__ul--li img {
    width: 22px;
}
.footer__2__ul--li img:hover{
    color: royalblue;
}
.footer__2__ul--li1 {
color: royalblue;
list-style-type: none;
}
.footer__2__ul--li:hover{
    color: royalblue;
    font-weight: bold;
}
.footer__p {
    font-size: 10px;
    text-align: center;
}

hr {
    border: solid gray 1px;
    width: 95%;
    @include mobile {
        width: 95%;
    }
}