
body {
    margin: 0;
    
    font-family: "roboto";
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    background-color: $primarycolor;
    width: 100%;
    
    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }  
    @include mobile {
        display: flex;
        flex-wrap: wrap;
        position: static;
    }
}
.navbar { 
    display: flex; 
    justify-content: space-evenly;
    border-radius: 100px;
    @include mobile {
        border-radius: 0px;
    }
    
    
     
    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        padding-top: 10px;
        @include mobile {
            flex-direction: column;
            justify-content: center;
            
        }
        
        &__li--white {
            border: solid purple 3px;
            padding: 10px;
            border-radius: 5px;
            color: purple;
            margin: 6px;
            
            @include mobile {
                padding: 4px;
                font-size: 14px;
            }
        }
        &__li--purple {
            background-color: purple;
            color: white;
            padding: 10px;
            border-radius: 6px;
            margin: 6px;
            @include mobile {
                padding: 10px 64px;
                font-size: 14px;
            }
        }
    }
}
.navbar__ul__li--purple:hover{
    background-color: rgb(97, 2, 97);
    text-decoration: none;
}
.navbar__ul__li--white:hover{
    border: solid rgb(141, 8, 141) 4px;
    text-decoration: none;
}
.navbar__ul__li {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-family: "roboto";
    padding-top: 17px;
    @include mobile {
        flex-wrap: wrap;
        font-size: 18px;
        :hover {
            text-decoration: underline;
        }
        
    }
}
.navbar__ul__li:hover {
    text-decoration:underline;
}
.navbar__ul__icon {
    width: 35px;
    display: flex;
    @include mobile {
        width: 80px;
        padding-left: 40px;
        padding-bottom: 20px;
        
    }
}
.navbar__ul__li1 {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-family: "roboto";
    font-weight: bold;
    padding-top: 16px;
    font-size: 20px;
    @include mobile {
        flex-wrap: wrap;
        font-size: 24px;
    }
}