.section4 {
    background-color: $secondarycolor;
    display: flex;
    padding-left: 50px;
    @include mobile {
        flex-direction: column;
        padding-left: 0px;
    }
    
}
.section4 img {
    margin-left: 100px;
    @include mobile {
        visibility: hidden;
        display: none;
    }
} 
.section4__div1{
    
    padding-top: 20px;
    padding-left: 220px;
    padding-right: 300px;
    @include mobile {
        padding: 10px;
    }
    
    
}
.section4__div1 a {
    color: dodgerblue;
    text-decoration: underline;
}
.section4__div1 iframe {
    padding-top: 50px;
    padding-left: 120px;
    @include mobile {
        width: 300px;
        padding-top: 20px;
        padding-right: 60px;
        padding-left: 20px;
    }
}
.section4__div1--p2 {
    font-size: 16px;
    padding-left: 100px;
    @include mobile {
        padding-left: 30px;
        padding-right: 0px;
        font-size: 16px;
    }
}
.section4__div1__p {
    font-size: 16px;
    text-align: left;
}