.section3 {
    background-color: rgb(235, 231, 231);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    @include mobile {
        flex-wrap: wrap;
        height: 900px;
    }
    &__div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 200px;
        padding-left: 100px;
        
        
        
        @include mobile {
            flex-wrap: wrap;
            text-align: center;
            margin: auto;
            padding-right: 0px;
            padding-left: 0px;
        }
      
      }

        
    &__div1--a {
        margin: 5px;
        text-decoration: underline;
        color: dodgerblue;
        @include mobile {
            margin: 40px;
            padding-right: 10px;
        }
        
    }   
    &__div1__p {
        font-family: sans-serif;
        font-size: 16px;
        text-align: left;
        @include mobile {
            flex-wrap: wrap;
            text-align:left;
            width: 300px;
            height: 100px;
            font-size: 16px;
            margin-bottom: 5px;
            margin-left: 90px;
        }
    } 
    &__div2 img {
        width: 450px;
        padding-top: 50px;
        margin-right: 100px;
        @include mobile {
            visibility: hidden;
        }
    }
    
}
.section3__div1--video {
    display: flex;
    flex-direction: row;
    padding: 5px;
    @include mobile {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
}
.section3__div1--video div {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.section3__div1__p {
    align-items: center;
    margin-left: 0px;
    @include mobile {
        margin-left: 10px;
        width: auto;
    }
}
.section3__video__p {
    text-align: left;
    font-size: 15px;
    padding-top: 5px;
}
.section3__div1--video iframe {
    width: 300px;
    @include mobile {
        width: 300px;
    }
}