.section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primarycolor;
    flex-wrap: wrap;
    @include mobile {
        display: flex;
        flex-direction: row;
    }
}
.section2 img {
    @include mobile {
        flex-wrap: wrap;
        width: 50px;
    }
}
