body {
  margin: 0;
  width: 100%;
  font-family: "roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  position: fixed;
  background-color: #f0dcdc;
  width: 100%;
}

@media screen and (max-width: 992px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: static;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 100px;
}

@media screen and (max-width: 576px) {
  .navbar {
    border-radius: 0px;
  }
}

.navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  padding-top: 10px;
}

@media screen and (max-width: 576px) {
  .navbar__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 35px;
  }
}

.navbar__ul__li--white {
  border: solid purple 3px;
  padding: 10px;
  border-radius: 5px;
  color: purple;
  margin: 6px;
}

@media screen and (max-width: 576px) {
  .navbar__ul__li--white {
    padding: 4px;
    font-size: 14px;
  }
}

.navbar__ul__li--purple {
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin: 6px;
}

@media screen and (max-width: 576px) {
  .navbar__ul__li--purple {
    padding: 10px 64px;
    font-size: 14px;
  }
}

.navbar__ul__li--purple:hover {
  background-color: #610261;
  text-decoration: none;
}

.navbar__ul__li--white:hover {
  border: solid #8d088d 4px;
  text-decoration: none;
}

.navbar__ul__li {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: "roboto";
  padding-top: 17px;
}

@media screen and (max-width: 576px) {
  .navbar__ul__li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 18px;
  }
  .navbar__ul__li :hover {
    text-decoration: underline;
  }
}

.navbar__ul__li:hover {
  text-decoration: underline;
}

.navbar__ul__icon {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-top: 10px;
}

@media screen and (max-width: 576px) {
  .navbar__ul__icon {
    width: 80px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
}

.navbar__ul__li1 {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: "roboto";
  font-weight: bold;
  padding-top: 16px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .navbar__ul__li1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 24px;
  }
}

.section1 {
  background-color: #f0dcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
}

@media screen and (max-width: 576px) {
  .section1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

.section1__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 10px;
}

@media screen and (max-width: 576px) {
  .section1__div1 {
    padding: 5px;
  }
}

.section1__div1--a1 {
  background-color: purple;
  color: white;
  padding: 20px 100px;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width: 576px) {
  .section1__div1--a1 {
    width: auto;
    padding: 10px 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.section1__div1--a2 {
  background-color: #249fcf;
  color: white;
  padding: 10px 50px;
  border-radius: 6px;
  margin-top: 5px;
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width: 576px) {
  .section1__div1--a2 {
    padding: 10px 50px;
    font-size: 14px;
    margin: 1px;
  }
}

.section1__div1--h1 {
  width: 492px;
  font-size: 50px;
  text-align: left;
  margin: 5px;
  padding-left: 190px;
}

@media screen and (max-width: 576px) {
  .section1__div1--h1 {
    font-size: 30px;
    text-align: center;
    width: auto;
    padding: 0px;
    margin: auto;
  }
}

.section1__div2 img {
  margin-right: 60px;
  margin-top: 40px;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .section1__div2 img {
    width: 280px;
    margin-top: 20px;
    padding-left: 30px;
  }
}

.section1__div1--p {
  font-size: 20px;
  text-align: left;
  padding-right: 200px;
  padding-left: 200px;
}

@media screen and (max-width: 576px) {
  .section1__div1--p {
    padding: 20px;
  }
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0dcdc;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 576px) {
  .section2 img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50px;
  }
}

.section3 {
  background-color: #ebe7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
}

@media screen and (max-width: 576px) {
  .section3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 1000px;
    padding: 10px;
  }
}

.section3__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 70px;
  padding-left: 100px;
  padding-top: 20px;
}

@media screen and (max-width: 576px) {
  .section3__div1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.section3__div1--a {
  margin: 5px;
  text-decoration: underline;
  color: dodgerblue;
}

@media screen and (max-width: 576px) {
  .section3__div1--a {
    margin: 40px;
    padding-right: 10px;
  }
}

.section3__div1__p {
  font-family: "roboto";
  font-size: 18px;
  text-align: left;
  width: 450px;
}

@media screen and (max-width: 576px) {
  .section3__div1__p {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    width: 300px;
    height: 100px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 90px;
    padding-bottom: 30px;
  }
}

.section3__div2 img {
  width: 450px;
  padding-top: 50px;
  padding-right: 200px;
}

@media screen and (max-width: 576px) {
  .section3__div2 img {
    visibility: hidden;
    width: 0%;
  }
}

.section3__div1--h1 {
  font-size: 30px;
  width: 500px;
}

@media screen and (max-width: 576px) {
  .section3__div1--h1 {
    font-size: 24px;
    width: auto;
  }
}

.section3__div1--video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 80px;
}

@media screen and (max-width: 576px) {
  .section3__div1--video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    padding: 5px;
  }
}

.section3__div1--video div {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3__div1__p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
}

@media screen and (max-width: 576px) {
  .section3__div1__p {
    margin-left: 10px;
    width: auto;
  }
}

.section3__video__p {
  text-align: left;
  font-size: 15px;
  padding-top: 20px;
}

@media screen and (max-width: 576px) {
  .section3__video__p {
    text-align: center;
  }
}

.section3__div1--video iframe {
  width: 250px;
  margin-right: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .section3__div1--video iframe {
    width: 300px;
    margin: 0px;
  }
}

.section4 {
  background-color: #ebe7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}

@media screen and (max-width: 576px) {
  .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
  }
}

.section4 img {
  margin: 20px;
}

@media screen and (max-width: 576px) {
  .section4 img {
    visibility: hidden;
    display: none;
  }
}

.section4__div1 {
  padding-top: 20px;
  padding-left: 180px;
  padding-right: 100px;
}

@media screen and (max-width: 576px) {
  .section4__div1 {
    padding: 10px;
  }
}

.section4__div1--h1 {
  font-size: 30px;
  width: 500px;
}

@media screen and (max-width: 576px) {
  .section4__div1--h1 {
    font-size: 24px;
    width: auto;
    text-align: center;
  }
}

.section4__div1 a {
  color: dodgerblue;
  text-decoration: underline;
}

.section4__div1 iframe {
  padding-top: 50px;
  padding-left: 30px;
  border-radius: 20px;
  width: 250px;
  height: 200px;
}

@media screen and (max-width: 576px) {
  .section4__div1 iframe {
    width: 300px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 20px;
  }
}

.section4__div1--p2 {
  font-size: 16px;
  padding-left: 30px;
}

@media screen and (max-width: 576px) {
  .section4__div1--p2 {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    text-align: center;
  }
}

.section4__div1__p {
  font-size: 18px;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .section4__div1__p {
    text-align: center;
  }
}

.section5 {
  background-color: #ebe7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 100px;
}

@media screen and (max-width: 576px) {
  .section5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 900px;
    padding: 10px;
  }
}

.section5__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 200px;
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  .section5__div1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    padding: 0px;
  }
}

.section5__div1--a {
  margin: 5px;
  text-decoration: underline;
  color: dodgerblue;
}

@media screen and (max-width: 576px) {
  .section5__div1--a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.section5__div1__p {
  font-family: "roboto";
  font-size: 18px;
  text-align: left;
  width: 500px;
}

@media screen and (max-width: 576px) {
  .section5__div1__p {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 15px;
    text-align: left;
    width: 350px;
    height: 100px;
    padding-bottom: 5px;
    margin-left: 20px;
  }
}

.section5__div2 img {
  width: 450px;
  padding-top: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 576px) {
  .section5__div2 img {
    visibility: hidden;
    width: 0%;
  }
}

.section5__div1--h1 {
  font-size: 30px;
  width: 500px;
}

@media screen and (max-width: 576px) {
  .section5__div1--h1 {
    font-size: 24px;
    width: auto;
  }
}

.section5__div1--video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
}

@media screen and (max-width: 576px) {
  .section5__div1--video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section5__div1--video div {
  padding: 15px;
}

.section5__video__p {
  text-align: left;
  font-size: 15px;
  width: 200px;
}

@media screen and (max-width: 576px) {
  .section5__video__p {
    text-align: center;
    width: auto;
  }
}

.section5__div1--video iframe {
  width: 250px;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .section5__div1--video iframe {
    width: 300px;
  }
}

.section6 {
  background-color: #f0dcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section6__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section6__div1--h1 {
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 0px;
}

@media screen and (max-width: 576px) {
  .section6__div1--h1 {
    font-size: 25px;
  }
}

.section6__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 80px;
}

@media screen and (max-width: 576px) {
  .section6__div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.section6__div2--item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.section6__div2__item1--h1 {
  padding: 15px;
  color: white;
  background-color: darkmagenta;
  text-align: center;
  width: 20px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  border-radius: 6px;
  margin-left: 12px;
}

@media screen and (max-width: 576px) {
  .section6__div2__item1--h1 {
    margin-right: 300px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

.section6__div2__item1--h4 {
  text-align: left;
  margin: auto;
  padding: 25px;
  padding-left: 14px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .section6__div2__item1--h4 {
    padding: 16px;
    padding-left: 15px;
    width: 90%;
  }
}

.section6__div2__item1--p {
  margin: auto;
  padding: 5px 15px;
  width: 350px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .section6__div2__item1--p {
    margin-bottom: 40px;
    margin: 0px;
    width: 340px;
  }
}

.section6__div2__item1--p a {
  text-decoration: underline;
  color: dodgerblue;
}

.section7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0dcdc;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: auto;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

@media screen and (max-width: 576px) {
  .section7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section7__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  padding: 15px;
  margin: 0px 10px;
  width: 200px;
}

@media screen and (max-width: 576px) {
  .section7__div {
    margin: 20px 0px;
  }
}

.section7__div--h4 {
  font-size: 21px;
}

.section7__div--a {
  text-decoration: none;
  color: dodgerblue;
  padding-top: 20px;
}

/*HOVER*/
.section7__div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.curved {
  position: relative;
  background: #2c3e50;
  height: 50vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.section8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: darkmagenta;
  height: 400px;
}

@media screen and (max-width: 576px) {
  .section8 {
    height: 800px;
  }
}

.section8__h1 {
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 100px;
}

.section8__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

@media screen and (max-width: 576px) {
  .section8__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section8__a1 {
  border: solid darkmagenta 3px;
  background-color: whitesmoke;
  padding: 20px 50px;
  border-radius: 8px;
  color: purple;
  margin: 6px;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .section8__a1 {
    padding: 20px 90px;
    font-size: 14px;
  }
}

.section8__a1:hover {
  border-radius: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 576px) {
  .section8__a1:hover {
    border-radius: 1px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.section8__a2 {
  background-color: purple;
  color: white;
  padding: 18px 30px;
  border-radius: 4px;
  margin: 6px;
  border: whitesmoke solid 2px;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .section8__a2 {
    padding: 18px 30px;
    font-size: 14px;
  }
}

.section8__a2:hover {
  border: solid white 3px;
}

@media screen and (max-width: 576px) {
  .section8__a2:hover {
    border: solid white 3px;
  }
}

.section9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 200px;
  padding-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  .section9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section9 img {
  width: 100px;
}

@media screen and (max-width: 576px) {
  .section9 img {
    width: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
  }
}

.section9__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 576px) {
  .section9__div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.section9__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section9__div__li1 {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section9__div__li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
}

.section9__div__li:hover {
  color: royalblue;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 576px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__1__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  .footer__1__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 90px;
  }
}

.footer__1__ul--li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 576px) {
  .footer__1__ul--li {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.footer__1__ul--li:hover {
  color: royalblue;
  font-weight: bold;
}

.footer__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 576px) {
  .footer__2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__2__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  .footer__2__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__2__ul--li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 576px) {
  .footer__2__ul--li {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.footer__2__ul--li img {
  width: 22px;
}

.footer__2__ul--li img:hover {
  color: royalblue;
}

.footer__2__ul--li1 {
  color: royalblue;
  list-style-type: none;
}

.footer__2__ul--li:hover {
  color: royalblue;
  font-weight: bold;
}

.footer__p {
  font-size: 10px;
  text-align: center;
}

hr {
  border: solid gray 1px;
  width: 95%;
}

@media screen and (max-width: 576px) {
  hr {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */